label {
  margin: 20px 20px 0px 20px;
  display: inline;
}

.dj-view {
  padding: 0px 0px 50px 0px;

  .logo-text {
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 20px;
    padding: 0px 2vw;
  }
}

.dj-nav {
  width: 13vw;
  margin-left: 2vw;
  margin-top: 30px;

  a {
    display: block;
    color: #eee8d5;
    background-color: #586e75;
    margin-bottom: 1px;
    border-radius: 2px 0px 0px 2px;
    line-height: 30px;
    padding-left: 40%;
    letter-spacing: 2px;

    transition: all 0.125s ease 0s;
    -o-transition: all 0.125s ease 0s;
    -ms-transition: all 0.125s ease 0s;
    -moz-transition: all 0.125s ease 0s;
    -webkit-transition: all 0.125s ease 0s;

    &:hover, &.active {
      background-color: #93a1a1;
      text-decoration: none;
      cursor: pointer;
      color: whitesmoke;
    }
  }
}

.dj-content {
  background-color: #93a1a1;
  position: absolute;
  right: 0px;
  top: 40px;
  height: 90vh;
  width: 85vw;
  border-radius: 2px 0px 0px 2px;
  box-sizing: border-box;
  padding: 15px 35px;
  color: whitesmoke;
  overflow: auto;

  h4 {
    display: inline-block;
  }
}

.event-list {
  display: inline-block;
  float: right;
  margin-top: 10px;

  select {
    margin-right: 10px;
    width: 208px;
  }
}

.upload {
  background-color: #fafafa;
  padding: 20px 40px;
}

.drop-zone {
  text-align: center;
  font-weight: 100;
  cursor: default;
  display: inline-block;
  width: 40vw;
}

.inner-drop-zone {
  padding: 4px;
  border: 1px dashed #ddd;
  border-radius: 5px;
  letter-spacing: 0.1em;
  color: whitesmoke;
  font-size: 15px;

  transition: background-color 0.25s ease 0s;
  -o-transition: background-color 0.25s ease 0s;
  -ms-transition: background-color 0.25s ease 0s;
  -moz-transition: background-color 0.25s ease 0s;
  -webkit-transition: background-color 0.25s ease 0s;

  &:hover {
    background-color: whitesmoke;
    color: #999;
  }
}

ul.playlist {
  margin: 10px 0px;

  li:nth-child(even) {
    background-color: #586e75;
  }
}

.info-graph {
  display: inline-block;
  vertical-align: top;
  padding: 20px;
  margin-left: 20px;
  border: 1px dashed #ccc;
}
