@import "global";

label {
  margin: 20px 20px 0px 20px;
  display: inline;
}

.dj-view {
  padding: 0px 0px 50px 0px;

  .logo-text {
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 20px;
    padding: 10px 1.5vw;
    margin-top: 5px;
    color: $accent-yellow;
  }
}

.dj-nav {
  width: 13.3vw;
  margin-top: 30px;

  a {
    position: relative;
    display: block;
    color: $content1;
    margin-bottom: 1px;
    border-radius: 2px 0px 0px 2px;
    line-height: 31px;
    padding-left: 30%;
    letter-spacing: 2px;
    border: 1px solid transparent;
    cursor: pointer;

    &:hover, &.active {
      background-color: $background-darker;
      text-decoration: none;
      cursor: pointer;
      color: whitesmoke;
      border-top: 1px solid $accent-yellow;
      border-bottom: 1px solid $accent-yellow;
      border-left: 3px solid #b58900;
    }
  }
}

.dj-content {
  position: absolute;
  right: 0px;
  top: 40px;
  height: 90vh;
  width: 87vw;
  border-radius: 2px 0px 0px 2px;
  box-sizing: border-box;
  padding: 15px 35px;
  color: whitesmoke;
  overflow: auto;
  border: 1px solid $accent-yellow;
  border-left: 3px solid $accent-yellow;
  border-right: 0;


  h4 {
    display: inline-block;
  }

  .event-list {
    select {
      margin-right: 10px;
      width: 208px;
    }

    .input-append {
      float: right;
    }
  }

  .upload {
    background-color: #fafafa;
    padding: 20px 40px;
  }

  .drop-zone {
    text-align: center;
    font-weight: 100;
    cursor: default;
    display: inline-block;
    width: 40vw;
  }

  .inner-drop-zone {
    padding: 4px;
    border: 1px dashed #ddd;
    border-radius: 5px;
    letter-spacing: 0.1em;
    color: whitesmoke;
    font-size: 15px;

    transition: background-color 0.25s ease 0s;
    -o-transition: background-color 0.25s ease 0s;
    -ms-transition: background-color 0.25s ease 0s;
    -moz-transition: background-color 0.25s ease 0s;
    -webkit-transition: background-color 0.25s ease 0s;

    &:hover {
      background-color: $accent-violet;
      color: #999;
    }
  }

  .info-graph {
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    border: 1px dotted $accent-yellow;

    &:hover {
      border: 1px solid $accent-yellow;
    }

    input {
      display: block;
      color: gray;
      font-weight: lighter;
    }

    img {
      margin-top: 10px;
    }
  }
}

.requests {
  .dj-events {
    h4, .input-append {
      display: none;
    }
  }

  .request-sorting {
    margin: 20px 0px;

    a {
      padding: 5px 15px;
      color: $content1;
      text-decoration: none;
      font-size: 12px;
      letter-spacing: 1px;

      &:hover, &.active {
        border-radius: 3px;
        color: whitesmoke;
        background-color: $accent-green;
      }
    }
  }

  .dismissed-tracks {
    h4 {
      display: block;
    }
  }
}

.dj-playlist {
  margin-bottom: 20px;

  button.save {
    margin-left: 40px;
  }
}

.playlist {
  padding: 0;
  margin-right: 20px;
  margin-bottom: 20px;

  li {
    padding: 0;
    border-bottom: 1px dotted $accent-green;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;

    &:hover {
      border-left: 3px solid $accent-green;
      border-right: 3px solid $accent-green;
      border-bottom: 1px solid $accent-green;

      .artist, .title, .age, .count {
        color: $accent-magenta;
      }

      .remove button {

      }
    }

    span {
      display: inline-block;
      vertical-align: middle;
      min-height: 25px;
      padding: 2px 10px;
      line-height: 25px;
    }

    .artist {
      color: $accent-cyan;
      width: 150px;
    }

    .title {
      color: $accent-violet;
      width: 300px;
    }

    .age {
      color: $accent-red;
      width: 100px;
    }

    .count {
      width: 70px;
      color: $accent-blue;
    }
  }
}
