$background-darker: #002b36;
$background-dark: #073642;
$content1: #586e75;
$content2: #657b83;
$accent-yellow: #b58900;
$accent-orange: #cb4b16;
$accent-red: #dc322f;
$accent-megenta: #d33682;
$accent-violet: #6c71c4;
$accent-blue: #268bd2;
$accent-cyan: #2aa198;
$accent-green: #859900;
