@import "global";

.playlist-view {
  padding: 10px 20px;

  .playlist-sorting {
    margin: 20px 0px;

    a {
      padding: 5px 15px;
      color: $content1;
      text-decoration: none;
      font-size: 12px;
      letter-spacing: 1px;
      cursor: pointer;

      &.active {
        border-radius: 3px;
        color: whitesmoke;
        background-color: $accent-green;
      }
    }
  }
}

@media (orientation:portrait) {
  .playlist-view {
    padding: 0;

    h4 {
      line-height: 100%;
      padding: 2% 4%;
    }

    .playlist-sorting {
      line-height: 100%;
      padding: 2% 4%;

      a {
        color: #586e75;
        text-decoration: none;
        cursor: pointer;

        &.active {
          color: whitesmoke;
          background-color: $accent-green;
        }
      }
    }

    .playlist {
      font-size: 4vw;
      width: 100%;
      margin: 0;

      li {
        padding-left: 2%;
      }

      span {
        padding: 2% 0;
      }

      .artist {
        width: 30vw;
      }

      .title {
        width: 55vw;
      }

      .request {
        button {
          line-height: 100%;
          padding: 1vw;
          margin: 0;
        }
      }
    }
  }
}
