@import "global";

.playlist-view {
  padding: 10px 20px;

  .playlist-sorting {
    margin: 20px 0px;

    a {
      padding: 5px 15px;
      color: $content1;
      text-decoration: none;
      font-size: 12px;
      letter-spacing: 1px;
      cursor: pointer;

      &:hover, &.active {
        border-radius: 3px;
        color: whitesmoke;
        background-color: $accent-green;
      }
    }
  }

  .playlist {
    margin-right: 0px;

    span {
      padding: 2px 0px;
    }

    .artist {
      width: 130px;
    }

    .title {
      width: 230px;
    }
  }
}
