@import "global";

.playlist-view {
  padding: 10px 20px;

  .playlist-sorting {
    margin: 20px 0px;

    a {
      padding: 5px 15px;
      color: $content1;
      text-decoration: none;
      font-size: 12px;
      letter-spacing: 1px;
      cursor: pointer;

      &:hover, &.active {
        border-radius: 3px;
        color: whitesmoke;
        background-color: $accent-green;
      }
    }
  }
}

@media (orientation:portrait) {
  .playlist-view {
    padding: 2vh 2vw;

    h4 {
      font-size: 6vw;
      line-height: 100%;
    }

    .playlist-sorting {
      margin: 3vh 0px;
      font-size: 4vw;
      line-height: 100%;

      a {
        padding: 0.5vh 3vw;
        color: #586e75;
        text-decoration: none;
        font-size: 4vw;
        cursor: pointer;

        &:hover, &.active {
          border-radius: 2vw;
          color: whitesmoke;
          background-color: $accent-green;
        }
      }
    }

    .playlist {
      font-size: 4vw;
      width: 100%;
      margin: 0;

      li {
      }

      span {
        padding: 1.5vh 0;
      }

      .artist {
        width: 30vw;
      }

      .title {
        width: 55vw;
      }

      .request {
        button {
          font-size: 4vw;
          line-height: 100%;
          padding: 1vw;
          margin: 0;
        }
      }
    }
  }
}
